body{
  background-color: #232323;
}

div.outer-div {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  color: #b9b9b9;
  text-align: center;
}

div.middle-div {
  position: relative;
  top: 40%;
}
